@import "tailwindcss";

body {
  @apply font-sans;
  @apply bg-pink-100;
}

@media(width <= 760) {
  #root {
    height: 100dvh;
  }
}

#root {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;   /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}
